<% include ../partials/header %>
<div class ="container">
    <div class="row">
        <div class = "col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class ="list-group-item active">info 1</li>
                <li class ="list-group-item">info 2</li>
                <li class ="list-group-item">info 3</li>
            </div>
            <div id="map">
                    <script>
                      var map;
                      function initMap() {
                        var myLatLng = {lat: 43.9283225, lng: -79.8370403};  
                        
                        map = new google.maps.Map(document.getElementById('map'), {
                          center: myLatLng,
                          zoom: 9
                        });
                        
                        var marker = new google.maps.Marker({
                          position: myLatLng,
                          map: map,
                          title: 'Hello World!'
                        });
                      }
                    </script>
            </div>
        </div>
        <div class= "col-md-9">
            <div class = "thumbnail">
                <img class ="img-responsive" src="<%=campGround.image%>">
                <div class ="caption-full">
                    <h4 class="pull-right">$<%=campGround.price%>/night</h4>
                    <h4><a><%=campGround.name%></a></h4>
                    <p><%=campGround.description%></p>
                    <p><em>Submitted by: <%=campGround.author.username%></em></p>

                        <%if (currentUser && currentUser.username === campGround.author.username){%>
                            <a class = "btn btn-success" href = "/campgrounds/<%=campGround._id%>/edit">Edit</a>
                            <form class ="inlineform" action = "/campgrounds/<%=campGround._id%>?_method=delete" method = "POST">
                                <button class = "btn btn-danger">Delete</button>
                            </form>
                        <% }%>

                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class = "btn btn-success" href = "/campgrounds/<%=campGround._id%>/comments/new">Leave a Review</a>
                </div>
                <hr id="well">
                <% campGround.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <!--comment rating-->
                            <%for(var i=0; i<comment.rating; i++){%>
                                <i class="fa fa-star"></i>
                            <% }%>
                            <!--comment rating-->
                            <br>
                            <strong><%=comment.author.username%></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%=comment.text%>
                            </p>
                            <%if (currentUser && comment.author.id.equals(currentUser._id)){%>
                                <a class = "btn btn-success" href="/campgrounds/<%=campGround._id%>/comments/<%=comment._id%>/edit">edit</a>
                                <form class ="inlineform" method = "POST" action ="/campgrounds/<%=campGround._id%>/comments/<%=comment._id%>/?_method=delete">
                                    <button class= "btn btn-danger">Delete</button>
                                </form>
                            <% }%>
                        </div>
                    </div>
                <% })%>    
            </div>
        </div>
    </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=<%=mapsApiKey%>&callback=initMap"
    async defer></script>



<%include ../partials/footer%>